<main>      
  <article>
    <h1 class="sub-title">
      Wordt vegan voor de dieren
    </h1>
    <p>
      Het zal je vast niet verbazen, maar door vegan te worden draag je niet meer bij aan het onrecht dat dieren elke dag weer aangedaan wordt. 
      De dieren in de vee-industrie worden vreselijk slecht behandeld. Naast de vele misstanden op boerderijen en in slachthuizen zijn er ook enorm veel "normale" practices
      waar veel mensen niet vanaf weten maar die dagelijks gebeuren bij miljoenen dieren.
    </p>
    <p>
      Ik zal een paar voorbeelden geven: 
    </p>
    <ul>
      <li>Wanneer een varken 7 dagen oud is wordt de staart zonder verdoving <a href="https://www.animalrights.nl/het-couperen-van-varkensstaartjes">eraf geknipt</a>.</li>
      <li>Melk koeien worden kunstmatig tegen de wil in <a href="https://deavonturenvaneenboerenmeid.com/2018/12/14/kunstmatige-inseminatie-van-een-koe/">bezwangerd</a> Dit gebeurd door de hand in de anus te stoppen en met een staaf de sperma in te brengen.</li>
      <li>Kalfjes worden hooguit een paar weken na de geboorte bij de moeder weggenomen. De moeder heeft een vergelijkbare band als mensen met de kinderen hebben en zal tot wel 5 dagen "<a href="https://www.animalstoday.nl/scheiding-koe-en-kalf/">huilen</a>".</li>
    </ul>  
  </article>
  <aside><img src="assets/images/KoeMetVarken.jpg" alt="Koe met varken"></aside>      
</main>
<main>
  <aside><img src="assets/images/KoeMetVarken.jpg" alt="Koe met varken"></aside>
  <article>
    <h1 class="sub-title">
      Wordt vegan voor het klimaat
    </h1>
  </article>      
</main>